{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<style>
  .cell {
   border-radius: 10px;
   border: 2px solid;
  }
  .centre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<div>
  <h3 class="centre">Вот что я умею</h3>
  <h5 class="cell centre">Python</p>
  <h5 class="cell centre">Django</p>
  <h5 class="cell centre">REST API</p>
  <h5 class="cell centre">Git</p>
  <h5 class="cell centre">SQL</p>
</div>   
{% endblock %} 